.ui-toolbar {
	margin-top: 0px !important;
}

.ui-datatable{
	margin-top: 20px !important
}

.ui-layout-center{
	padding: 0px
}

.painel-observacao {
	margin: 5px !important;
	padding: 0.5px !important
}