#imagem img{
	max-width:200px;
    max-height:150px;
	height: auto;
	width: auto;
	float: left;
}

#rodape{
	text-align: center;
	font-size: 12px;
}

#saudacao{
	position: absolute;
	bottom: 0;
	right: 0;
}




