<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	     xmlns:b="http://www.springframework.org/schema/beans" 
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://www.springframework.org/schema/security 
                             http://www.springframework.org/schema/security/spring-security.xsd
	                         http://www.springframework.org/schema/beans 
	                         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<http auto-config="true">
		<intercept-url pattern="/private/*" access="ROLE_USER" />
		<intercept-url pattern="/private/cadastros/*" access="ROLE_USER" />
		<form-login login-page="/login.xhtml"
		            default-target-url="/private/index.xhtml"		            
		            always-use-default-target="true"
		            authentication-failure-url="/login.xhtml?login_erro=1"/>
		<logout logout-success-url="/login.xhtml"/>
	</http>

	<authentication-manager>
		<authentication-provider>
		<password-encoder hash="md5" />
		<jdbc-user-service data-source-ref="inmetroDataSource"
                           users-by-username-query="SELECT username, password, 'true' as enable FROM usuario WHERE username=?"
                           authorities-by-username-query="SELECT username, authority FROM usuario WHERE username=?"/>		
		</authentication-provider>
	</authentication-manager>
</b:beans>